@font-face {
  font-family: "roboto-tipografia";
  src: url("Roboto/Roboto-Regular.woff") format("woff");
}

/* Clases generales */

* {
  font-family: "Roboto", sans-serif;
}

:root {
  --resaltados: orange;
}

.anchoCompleto {
  width: 90%;
}

/*index*/

/*header*/
body {
  background-color: #bd9c70;
}
.header-media {
  width: 100%;
}
.menu-mobile {
  background-color: rgb(193, 183, 228);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3%;
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
}

nav {
  /*width: 50%;*/
  font-size: 20px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 3%;
}
li {
  color: var(--resaltados);
}

/*main*/
/* gallina-plano */
main {
  background-color: #bd9c70;
}
.gallina-plano {
  padding: 60px 15px 60px 15px;
  background-color: #df922f;
}
.gallina-plano img {
  width: 100%;
  margin-bottom: 10px;
}

/* video-gallina-feliz */
.video-gallina-feliz {
  padding: 60px 15px 60px 15px;
  background-color: #df922f;
}

.video-gallina-feliz video {
  width: 100%;
  margin-bottom: 10px;
}

/* Menu mobile */
.menu-mobile {
  padding-top: 10px;
}
.menu-mobile img {
  margin-bottom: 10px;
  margin-left: 15px;
}
.menu-mobile ul {
  padding-left: 15px;
}
.menu-mobile a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.menu-mobile li {
  margin-bottom: 10px;
}

/*Nuestras instalaciones*/
.Nuestro-lugar {
  padding: 60px 15px 60px 15px;
}
.Nuestro-lugar h4 {
  color: var(--resaltados);
  margin-bottom: 15px;
}

.clase-gallinero {
  padding: 60px 15px 60px 15px;
  background-color: #df922f;
}
.clase-gallinero img {
  width: 100%;
  margin-bottom: 10px;
}

/*Quienes somos*/
.Quien-somos {
  padding: 60px 15px 60px 15px;
  color: black;
  margin-bottom: 30px;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
}

.instalaciones-fotos {
  padding: 60px 15px 60px 15px;
  background-color: #df922f;
  margin-left: 50px;
  margin-right: 50px;
}
.instalaciones-fotos img {
  width: 80%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Nuestros productos*/
.descripcion-producto {
  padding: 60px 15px 60px 15px;
  color: black;
  margin-bottom: 30px;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
}
.titulo-producto {
  padding: 60px 15px 60px 15px;
  color: black;
  margin-bottom: 30px;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
}
.producto-huevo {
  padding: 60px 15px 60px 15px;
  background-color: #df922f;
}
.producto-huevo img {
  width: 100%;
  margin-bottom: 10px;
}

/*Contacto*/
.grid-container {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
  grid-template-columns: auto auto;
  grid-gap: 5px;
  grid-template-areas:
    "contacto-item contacto-item"
    "contacto-item contacto-item"
    "gmail-item gmail-item"
    "instagram-item instagram-item"
    "twitter-item twitter-item";
}

.contacto-item {
  grid-area: contacto-item;
}
.gmail-item {
  grid-area: gmail-item;
}
.instagram-item {
  grid-area: instagram-item;
}
.twitter-item {
  grid-area: twitter-item;
}

.grid-item {
  background-color: r#df922f;
}

.contacto-item {
  grid-column: 1/3;
}
/* Pedidos*/
.grid-container-2 {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr 1fr;
  grid-template-columns: auto auto;
}
.grid-item {
  background-color: #df922f;
}

footer {
  background-color: black;
}

.footer-xd {
  background-color: black;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}
/* Tablet media query */
@media screen and (min-width: 200px) {
  .header-media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2%;
    font-size: 0.6rem;
  }
}

@media screen and (min-width: 400px) {
  .header-media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2%;
    font-size: 0.8rem;
  }
  .logogallina.png img {
    width: "30";
    height: "30";
  }

  .gallina-plano {
    overflow: hidden;
  }
  .gallina-plano img {
    width: 80%;
    float: left;
  }
  .video-gallina-feliz {
    overflow: hidden;
  }
  .video-gallina-feliz video {
    width: 80%;
    float: left;
  }
  .gallina-plano {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .video-gallina-feliz {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 2px;
  }
}
@media screen and (min-width: 550px) {
  .header-media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2%;
    font-size: 1.2rem;
  }

  .gallina-plano {
    overflow: hidden;
  }
  .gallina-plano img {
    width: 80%;
    float: left;
  }
  .video-gallina-feliz {
    overflow: hidden;
  }
  .video-gallina-feliz video {
    width: 80%;
    float: left;
  }
  .gallina-plano {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .video-gallina-feliz {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 2px;
  }
}
@media screen and (min-width: 990px) {
  header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3%;
    font-size: 1.5rem;
  }

  .gallina-plano {
    overflow: hidden;
  }
  .gallina-plano img {
    width: 80%;
    float: left;
  }
  .video-gallina-feliz {
    overflow: hidden;
  }
  .video-gallina-feliz video {
    width: 80%;
    float: left;
  }
  .gallina-plano {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .video-gallina-feliz {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 2px;
  }
}
/* Desktop media query */

/*fin*/
